<% @page_title = "Game" %>
<% @body_class = "template" %>
<% content_for :specific_css do %>
  <%= stylesheet_link_tag '/TemplateData/style.css', media: 'all' %>
<% end %>
<% content_for :specific_js do %>
  <%= javascript_include_tag '/TemplateData/UnityProgress.js' %>
<% end %>
<div class="template-wrap clear">
  <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
  <br>
  <div class="logo"></div>
  <div class="fullscreen">
    <%= image_tag '/TemplateData/fullscreen.png', size: '38', alt: 'Fullscreen', onClick: 'SetFullscreen(1);' %>
  </div>
  <div class="title">Bender</div>
</div>
<script type='text/javascript'>
var Module = {
  TOTAL_MEMORY: 268435456,
  errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
  compatibilitycheck: null,
  backgroundColor: "#222C36",
  splashStyle: "Light",
  dataUrl: "/Release/Bender_v1_Release.data",
  codeUrl: "/Release/Bender_v1_Release.js",
  asmUrl: "/Release/Bender_v1_Release.asm.js",
  memUrl: "/Release/Bender_v1_Release.mem"
}; 
</script>
<%= javascript_include_tag '/Release/UnityLoader.js' %>
<div class="g-plus" data-action="share" data-align="left" data-annotation="inline" data-height="30" data-expandTo="right"></div>
