<% @page_title ="leaderboard" -%>
<% content_for :specific_css do %>
<% stylesheet_link_tag 'leaderboard', media: 'all' %>
<% end %>
<div id="leaderBoardBody">
	<div id="leaderBoardCenteringDiv"></div>
	<div id="leaderBoardMiddlingDiv"></div>
	<div id="leaderBoardContent">
		<form id="leaderBoardForm">
			<div id="leaderBoardInnerDiv">
				<div id="leaderBoardHeader">
					<img id="leaderBoardHeaderImage">
				</div>
				<div id="leaderBoardLeadersDiv">
					<table id="leaderBoardLeaders">
						<tr style="height:40;"><th style="width:50%; text-align: left;">User ID</th><th style="width:25%; text-align: right;">Killed Enemies</th><th style="width:25%; text-align: right;">Score</th></tr>
						<tr class="leaderBoardTableRow" id="1"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="2"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="3"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="4"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="5"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="6"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="7"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="8"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="9"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="10"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="11"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="12"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="13"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="14"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
						<tr class="leaderBoardTableRow" id="15"><td class="leaderBoardUserID">Test Data</td><td class="leaderBoardUserKills">1000</td><td class="leaderBoardUserScore">1000</td></tr>
					</table>
				</div>
			</div>
		</form>
	</div>
</div>
