<% @page_title = "Home" -%>
<% content_for :specific_css do %>
  <%= stylesheet_link_tag 'splashscreen', media: 'all' %>
<% end %>
<div id="splashScreenBody">
  <div id="splashScreenCenteringDiv"></div>
  <div id="splashScreenMiddlingDiv"></div>
  <div id="splashScreenContent">
    <form id="splashScreenForm">
      <div id="splashScreenInnerDiv">
        <div id="splashScreenHeader">
          <img id="splashScreenHeaderImage">
        </div>
        <div id="splashScreenButtonDiv">
          <button type="button" id="splashScreenPlayGame" class="splashScreenButton">Play Game</button>
        </div>
        <div id="splashScreenButtonDiv">
          <button type="button" id="splashScreenLeaderboard" class="splashScreenButton">Leaderboard</button>
        </div>
        <div id="splashScreenButtonDiv">
          <a href="users/1/profile" type="button" id="splashScreenProfile" class="splashScreenButton">Profile</a>
        </div>
        <div id="splashScreenButtonDiv">
          <a href="users/1/edit" type="button" id="splashScreenSettings" class="splashScreenButton">Account</a>
        </div>
      </div>
    </form>
  </div>
</div>
