<% @page_title = "Signup" -%>
<% content_for :specific_css do %>
  <%= stylesheet_link_tag 'signup', media: 'all' %>
<% end %>
<div id="signupBody">
  <div id="signupCenteringDiv"></div>
  <div id="signupMiddlingDiv"></div>
  <div id="signupContent">
    <div class="flash">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
    </div>
  <%= render 'form', user: @user %>
  </div>
</div>
