<html>
<head>
<link rel="stylesheet" href="signup.css">
</head>
<body>
	<div id="signupBody">
		<div id="signupCenteringDiv"></div>
		<div id="signupMiddlingDiv"></div>
		<div id="signupContent">
			<form id="signupForm">
				<div id="signupInnerDiv">
					<div id="signupHeader" class="signupElement">
						<img id="signupHeaderImage">
					</div>
					<div id="signupUser" class="signupElement">
						Login ID:
						<input type="text" id="signupUserInput" class="signupInput"></input>
					</div>
					<div id="signupPassword" class="signupElement">
						Password:
						<input type="password" id="signupPasswordInput" class="signupInput"></input>
					</div>
					<div id="signupPasswordConfirm" class="signupElement">
						Password Confirm:
						<input type="password" id="signupPasswordConfirmInput" class="signupInput"></input>
					</div>
					<div id="signupEmail" class="signupElement">
						Email:
						<input type="text" id="signupEmailInput" class="signupInput"></input>
					</div>
					<div id="signupSubmit" class="signupElement">
						<button type="button" id="signupSubmitButton" class="signupButton">Submit</button> <button type="button" id="signupCancelButton" class="signupButton">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>